[Desktop Entry]
Name=QRQ
Name[en_US]=QRQ
Comment=Morse Code Trainer
Comment[en_US]=Morse Code Trainer
Exec=qrq
Icon=qrq
StartupNotify=true
Terminal=true
Type=Application
Categories=Network;HamRadio;
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
